name: Deploy to Cloud Run

on:
  workflow_dispatch:

jobs:
  deploy:
    name: Submit Cloud Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Authenticate with GCP
        uses: google-github-actions/auth@v1
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v1

      - name: Trigger Cloud Build
        run: gcloud builds submit --config=cloudbuild.yaml .
